<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
      
a {
  text-decoration: none;
  color: white;
}

.bannertable table { 
  border-collapse: collapse; 
  border-spacing: 0px; 
}

.bannertable tr {
  border: none;
  padding: 0px;
}

.bannertable td {
  background-color: #404040;
  color: white;
  padding: 0px;
  border: none;
}

.bannertable td:hover {
  background-color: #BFBFBF;
  color: black;
}

</style></head>
  <body>
    <div class="bannertable">
      <table style="width: 100%;">
        <tbody>
          <tr>
            <!--<td style="width: 16.667%; text-align: center; vertical-align: middle;"><span
                style="font-family: Helvetica,Arial,sans-serif;">Click here</span></td>
            <td style="width: 16.667%; text-align: center; vertical-align: middle;"><span
                style="font-family: Helvetica,Arial,sans-serif;">Click here</span></td>
            <td style="text-align: center; vertical-align: middle; width: 16.667%;"><span
                style="font-family: Helvetica,Arial,sans-serif;">Click here</span></td>
            <td style="width: 16.667%; text-align: center; vertical-align: middle;"><span
                style="font-family: Helvetica,Arial,sans-serif;">Click here</span></td>
            <td style="width: 16.667%; text-align: center; vertical-align: middle;"><span
                style="font-family: Helvetica,Arial,sans-serif;">Click here</span></td>
            <td style="width: 16.667%; text-align: center; vertical-align: middle;"><span
                style="font-family: Helvetica,Arial,sans-serif;">Click here</span></td>-->
                <td style="height: 25px;">
                </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
