<!-- Edit forms for all tables -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="helly" name="author">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
  </head>
  <body>
  	<form method="post" action="/database_deleted/{{ tableid }}/{{ editingid }}">
  		<tr class="d1">
  			{% for item in datum %}
          <td class="d1">{{ item }}</td>
        {% endfor %}
      </tr>
  	  <tr class="d1">
        <td  class="d1" colspan="100%" style="text-align: left;">
          <table>
            <tbody>
              <tr class="d1">
                <td class="d2" style="width: 70%;">Are you sure to delete this item?
                </td>
                <td class="d2" style="width: 15%;"><input name="Button" value="Yes" type="submit">
                </td>
                <td class="d2" style="width: 15%;"><input name="Button" value="No" type="submit">
                </td>
              </tr>
            </tbody>
         </table>
        </td>
      </tr>
  	</form>
  </body>
</html>