<!-- Edit forms for all tables -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="helly" name="author">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pikatime.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/pikatime.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/db_edit.js') }}"></script>
	</head>
  <body onload='OnLoadWindow("{{tableid}}",{{datum|tojson|safe}});'>
  	<form method="post" action="{{prefix}}/database_edited/{{ tableid }}/{{ editingid }}">
  		<tr class="d5">
  			<td class="d5"> <!-- ID, fixed -->
  				{{ datum[0] }}
  			</td>
  			<td class="d5"> <!-- Name -->
  				<input type="text" size="{% if datum[1] %}{{ datum[1]|length }}{% else %} 10 {% endif %}" name="Name" value="{{ datum[1] }}">
  			</td>
  			<td class="d5"> <!-- Description -->
  				<input type="text" size="{% if datum[2] %}{{ datum[2]|length }}{% else %} 10 {% endif %}" name="Description" value="{{ datum[2] }}"> 
  			</td>
  			<!-- here table dependent info ... -->
  			{% if tableid == "sensors" %}
  				<td class="d5"> <!--Type -->
  					<select name="Type" id="SensorType" onchange="SensorTypeChanged()">
  						{% for key, value in editingdata[0].items() %}
        				<option value="{{key}}" {% if (value == datum[3]) %} selected="selected" {% endif %}>
        					{{ value }}
        				</option>
    					{% endfor %}
						</select>
  				</td>
  				<td class="d5"> <!--SysCode -->
  					<input type="number" name="SysCode" id="sSysCode" min="0" max="255" value="{{ datum[4] }}">
  				</td>
  				<td class="d5"> <!--GroupCode -->
  					<input type="number" name="GroupCode" id="sGroupCode" min="0" max="255" value="{{ datum[5] }}">
  				</td>
  				<td class="d5"> <!--DeviceCode -->
  					<input type="number" name="DeviceCode" id="sDeviceCode" min="0" max="255" value="{{ datum[6] }}">
  				</td>
  				<td class="d5"> <!--DeviceURL -->
  					<input type="text" size="10" name="DeviceURL" id="sURL" value="{{ datum[7] }}"> 
  				</td>
  				<td class="d5"> <!--KeyTag -->
  					<input type="text" size="{% if datum[8] %}{{ datum[8]|length }}{% else %} 10 {% endif %}" name="KeyTag" id="sTag" value="{{ datum[8] }}"> 
  				</td>
  				<td class="d5"> <!--SensorType -->
  					<select name="SensorType" id="dSensorType"  onchange="dSensorTypeChanged()">
  						{% for key, value in editingdata[1].items() %}
        				<option value="{{key}}" {% if (value == datum[9]) %} selected="selected" {% endif %}>
        					{{ value }}
        				</option>
    					{% endfor %}
					</select>
  				</td>
  				<td class="d5"> <!-- Poll -->
  					<label>
  						<input type="checkbox" value="1" name="Poll" id="TF2" onchange="TFChanged('TF2')"><br>
  						<span>xxx</span>
  						<input type="hidden" value="0" name="Poll">
  					</label>
  				</td>
  				<td class="d5"> <!-- Toggle -->
  					<label>
  						<input type="checkbox" value="1" name="Toggle" id="TF3" onchange="TFChanged('TF3')"><br>
  						<span>xxx</span>
  						<input type="hidden" value="0" name="Toggle">
  					</label>
  				</td>
  			{% elif tableid == "actuators" %}
  				<td class="d5"> <!--Type -->
  					<select name="Type" id="ActuatorType" onchange="ActuatorTypeChanged()">
  						{% for key, value in editingdata[0].items() %}
        				<option value="{{key}}" {% if (value == datum[3]) %} selected="selected" {% endif %}>
        					{{ value }}
        				</option>
    					{% endfor %}
					</select>
  				</td>
  				<td class="d5"> <!--SysCode -->
  					<input type="number" name="SysCode" id="SysCode" min="0" max="255" value="{{ datum[4] }}">
  				</td>
  				<td class="d5"> <!--GroupCode -->
  					<input type="number" name="GroupCode" id="GroupCode" min="0" max="255" value="{{ datum[5] }}">
  				</td>
  				<td class="d5"> <!--DeviceCode -->
  					<input type="number" name="DeviceCode" id="DeviceCode" min="0" max="255" value="{{ datum[6] }}">
  				</td>
  				<td class="d5"> <!--DeviceURL -->
  					<input type="text" size="10" name="DeviceURL" id="URL" value="{{ datum[7] }}"> 
  				</td>
  				<td class="d5"> <!--KeyTag -->
  					<input type="text" size="{% if datum[8] %}{{ datum[8]|length }}{% else %} 10 {% endif %}" name="KeyTag" id="Tag" value="{{ datum[8] }}"> 
  				</td>
  				<td class="d5"> <!-- SetOnce -->
  					<label>
  						<input type="checkbox" value="1" name="SetOnce" id="TF4" onchange="TFChanged('TF4')"><br>
  						<span>xxx</span>
  						<input type="hidden" value="0" name="SetOnce">
  					</label>
  				</td>
  				<td class="d5"> <!-- Repeat -->
  					<label>
  						<input type="checkbox" value="1" name="Repeat" id="TF5" onchange="TFChanged('TF5')"><br>
  						<span>xxx</span>
  						<input type="hidden" value="0" name="Repeat">
  					</label>
  				</td>
  				<td class="d5"> <!--ActuatorType -->
  					<select name="ActuatorType" id="dActuatorType">
  						{% for key, value in editingdata[1].items() %}
        				<option value="{{key}}" {% if (value == datum[11]) %} selected="selected" {% endif %}>
        					{{ value }}
        				</option>
    					{% endfor %}
					  </select>
  				</td>
          <td class="d5"> <!-- StatusLightFlash -->
            <label>
              <input type="checkbox" value="1" name="StatusLightFlash" id="TF6" onchange="TFChanged('TF6')"><br>
              <span>xxx</span>
              <input type="hidden" value="0" name="StatusLightFlash">
            </label>
          </td>
  			{% elif tableid == "timers" %}
  				<td class="d5"> <!--Method -->
  					<select name="Method" id="TimerMethod" onchange="TimerMethodChanged()">
  						{% for key, value in editingdata[0].items() %}
        				<option value="{{key}}" {% if (value == datum[3]) %} selected="selected" {% endif %}>
        					{{ value }}
        				</option>
    					{% endfor %}
					  </select>
  				</td>
  				<td class="d5"> <!--Time -->
            <input type="text" style="width: 6em;" autocomplete="off" name="Time" id="Time">
  				</td>
  				<td class="d5"> <!--Minutes_Offset -->
  					<input type="number" name="Minutes_Offset" id="MinutesOffset" min="-719" max="719" value="{{ datum[5] }}">
  				</td>
  				<td  class="d7"> <!-- Weekdays -->
          	Select weekdays:
        	</td>
          <td class="d5"> <!--Home -->
            <select name="Home" id="TimerHome">
              {% for key, value in editingdata[2].items() %}
                <option value="{{key}}" {% if (value == datum[7]) %} selected="selected" {% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          </td>
          <td class="d5"> <!--Trip -->
            <select name="Trip" id="TimerTrip">
              {% for key, value in editingdata[2].items() %}
                <option value="{{key}}" {% if (value == datum[8]) %} selected="selected" {% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          </td>
        {% elif tableid == "processors" %}
        	<td  class="d7"> <!-- Dependencies -->
          	Select dependencies:
        	</td>
        	<td class="d5"> <!--Combiner -->
  				  <select name="Combiner">
  						{% for key, value in editingdata[4].items() %}
        				<option value="{{key}}" {% if (value == datum[4]) %} selected="selected" {% endif %}>
        					{{ value }}
        				</option>
    					{% endfor %}
						</select>
  				</td>
  			{% elif tableid == "dependencies" %}
  				<td  class="d7"> <!-- Dependencies -->
          	Select dependencies:
        	</td>
  			{% elif tableid == "combiners" %}
  				<td class="d5"> <!--Dependency -->
  				  <select name="Dependency">
  						{% for key, value in editingdata[0].items() %}
        				<option value="{{key}}" {% if (value == datum[3]) %} selected="selected" {% endif %}>
        					{{ value }}
        				</option>
    					{% endfor %}
						</select>
  				</td>
  				<td class="d5"> <!-- Invert_Dependency -->
  					<label>
  						<input type="checkbox" value="1" name="Invert_Dependency" id="TF7" onchange="TFChanged('TF7')"><br>
  						<span>xxx</span>
  						<input type="hidden" value="0" name="Invert_Dependency">
  					</label>
  				</td>
  				<td  class="d7"> <!-- Combiners -->
          	Select combiners:
        	</td>
  			{% else %}
  				<td  class="d7" colspan="100%">
          	This table should not be editable ...
        	</td>
  			{% endif %}
  		</tr>
  		<!-- add rows for timers (weekdays), dependencies, combiners -->
  		{% if tableid == "timers" %}
  			{% for key, value in editingdata[1].items() %}
  				<tr class="d5">
  					<!-- 6 empty columns -->
  					{% for n in range(6) %}
  						<td class="d7">
  						</td>
  					{% endfor %}
  					<td class="d7">
  						<input type="checkbox" {% if value in datum[6] %} checked="checked" {% endif %} value="1" name="{{ value }}">{{ value }}
  						<input type="hidden" value="0" name="{{ value }}">
  					</td>
            <!-- 2 empty columns -->
            {% for n in range(2) %}
              <td class="d7">
              </td>
            {% endfor %}
  				</tr>
  			{% endfor %}
  		{% elif tableid == "processors" %}	
  			{% set tim = datum[3].split('(')[0] %}
  			{% if tim %}
  				{% set timer = tim.split(' or ')[0] %}
  				{% if not timer %}
  					{% set timer = '-' %}
  				{% endif %}
  			{% else %}
  				{% set timer = '-' %}
  			{% endif %}
  			{% set sen = datum[3].split('(')[1] %}
  			{% if sen %}
  				{% set val = sen.split(')')[0] %}
  				{% if val %}
  					{% set sensor,operator,svalue = val.split(' ') %}
  					{% if not sensor %}
  						{% set sensor = '-' %}
  					{% endif %}
  					{% if not operator %}
  						{% set operator = '-' %}
  					{% endif %}
  					{% if not svalue %}
  						{% set svalue = '-' %}
  					{% endif %}   									
  				{% else %}
  					{% set sensor = '-' %}
  					{% set operator = '-' %}
  					{% set svalue = '-' %}
  				{% endif %}
  			{% else %}
  				{% set sensor = '-' %}
  				{% set operator = '-' %}
  				{% set svalue = '-' %}
  			{% endif %}
  			{% set vars = {'digital': 0} %}
  			{% for key, value in editingdata[1].items() %}
  				{% if (value == sensor|trim) %}
  					{% if vars.update({'digital': editingdata[2][key]}) %} {% endif %}
  				{% endif %}
  			{% endfor %}
  			<tr class="d5">
  				<!-- 3 empty columns -->
  				{% for n in range(3) %}
  					<td class="d7">
  					</td>
  				{% endfor %}
  				<td class="d7">
  					<table>
        				<tbody>
          				<tr class="d5">
          					<td class="d7">
  								<select name="Timer">
  									{% for key, value in editingdata[0].items() %}
        								<option value="{{key}}" {% if (value == timer|trim ) %} selected="selected" {% endif %}>
        									{{ value }}
        								</option>
    								{% endfor %}
								</select> or
  								</td>
  								<td class="d7">(
  									<select name="Sensor" id="ProcSensor" onchange='ProcSensorChanged({{editingdata[1].items()|tojson|safe}},{{editingdata[2].items()|tojson|safe}})'>
  										{% for key, value in editingdata[1].items() %}
        								<option value="{{key}}" {% if (value == sensor|trim ) %} selected="selected" {% endif %}>
        									{{ value }}
        								</option>
    									{% endfor %}
									</select>
								</td>
								<td class="d7" style="width: 40px; height: 22px;">
									<select name="Operator" id="ProcOp" {% if vars.digital %}hidden{% endif %}>
  										{% for key, value in editingdata[3].items() %}
        									<option value="{{key}}" {% if (value == operator|trim ) %} selected="selected" {% endif %}>
        										{{ value }}
        									</option>
    									{% endfor %}
									</select>
									<span id="ProcEq" {% if not vars.digital %}hidden{% endif %}>eq</span>
								</td>
								<td class="d7" style="width: 70px; height: 22px;">
									<input style="width: 50px;" type="number" name="NValue" value="{{svalue|trim}}" id="ProcVal" step="0.01" {% if vars.digital %}hidden{% endif %}>
									<label id="ProcValTF" {% if not vars.digital %}hidden{% endif %}>
  										<input type="checkbox" {% if svalue|trim == "True" %} checked="checked" {% endif %} value="1" name="Value" id="TF8" onchange="TFChanged('TF8')">
  										<span>{% if svalue|trim == "True" %}True{% else %}False{% endif %}</span>
  										<input type="hidden" value="0" name="Value">
  									</label>)
								</td>
							</tr>
						</tbody>
					</table>
  				</td>
  				<td class="d7">
  				</td>
  			</tr>
  		{% elif tableid == "dependencies" %}
  			<!-- 4 possible dependencies -->
  			{% set dep = datum[3].split('(')[1:] %}
  			{% set vars = {'digital': 0} %}
  			{% for i in range(4) %} 
  				<tr class="d5">
  					<!-- 3 empty columns -->
  					{% for n in range(3) %}
  						<td class="d7">
  						</td>
  					{% endfor %}
  					<td class="d7">
  						{% if dep[i] %}
  							{% set val,comb = dep[i].split(')') %}
  							{% if not comb %}
  								{% set comb = '-' %}
  							{% endif %} 
	  						{% if val %}
  								{% set actuator,operator,avalue = val.split(' ') %}
  								{% if not actuator %}
  									{% set actuator = '-' %}
  								{% endif %}
  								{% if not operator %}
  									{% set operator = '-' %}
  								{% endif %}
  								{% if not avalue %}
  									{% set avalue = '-' %}
  								{% endif %}   									
  							{% else %}
  								{% set actuator = '-' %}
  								{% set operator = '-' %}
  								{% set avalue = '-' %}
  							{% endif %}
  						{% else %}
  							{% set actuator = '-' %}
  							{% set operator = '-' %}
  							{% set avalue = '-' %}
  							{% set comb = "-" %}
  						{% endif %}
  						{% if vars.update({'digital': 0}) %} {% endif %}
  						{% for key, value in editingdata[0].items() %}
  							{% if (value == actuator|trim) %}
  								{% if vars.update({'digital': editingdata[1][key]}) %} {% endif %}
  							{% endif %}
  						{% endfor %}
  						<table>
        				<tbody>
          				<tr class="d5">
          					<td class="d7">(
          						<select name="ActuatorId{{i}}" id="DepActuator{{i}}" onchange='DepActuatorChanged({{i}},{{editingdata[0].items()|tojson|safe}},{{editingdata[1].items()|tojson|safe}})'>
									{% for key, value in editingdata[0].items() %}
       									<option value="{{key}}" {% if (value == actuator|trim ) %} selected="selected" {% endif %}>
       										{{ value }}
       									</option>
									{% endfor %}
								</select>
          					</td>
          					<td class="d7" style="width: 40px; height: 22px;">
								<select name="OperatorId{{i}}" id="DepOp{{i}}" {% if vars.digital %}hidden{% endif %}>
									{% for key, value in editingdata[2].items() %}
       									<option value="{{key}}" {% if (value == operator|trim ) %} selected="selected" {% endif %}>
       										{{ value }}
       									</option>
									{% endfor %}
								</select>
								<span id="DepEq{{i}}" {% if not vars.digital %}hidden{% endif %}>eq</span>
							</td>
          					<td class="d7" style="width: 70px; height: 22px;">
								<input style="width: 50px;" type="number" name="NValue{{i}}" value="{{avalue|trim}}" id="DepVal{{i}}" step="0.01" {% if vars.digital %}hidden{% endif %}>
								<label id="DepValTF{{i}}" {% if not vars.digital %}hidden{% endif %}>
									<input type="checkbox" {% if avalue|trim == "On" %} checked="checked" {% endif %} value="1" name="Value{{i}}" id="TFd{{i}}" onchange="OOChanged('TFd{{i}}')">
									<span>{% if avalue|trim == "On" %}On{% else %}Off{% endif %}</span>
									<input type="hidden" value="0" name="Value{{i}}">
								</label>)
							</td>
          					<td class="d7">
          						<select name="CombinerId{{i}}">
									{% for key, value in editingdata[3].items() %}
       									<option value="{{key}}" {% if (value == comb|trim ) %} selected="selected" {% endif %}>
       										{{ value }}
       									</option>
									{% endfor %}
								</select>
          					</td>
          				</tr>
          			</tbody>
         			</table>
  					</td>
  				</tr>
  			{% endfor %}
  		{% elif tableid == "combiners" %}
  			<!-- 16 possible combiners -->
  			{% set comb = datum[5].split(',') %}
  			{% set vars = {'digital': 0} %}
  			{% for i in range(16) %} 
  				<tr class="d5">
  					<!-- 5 empty columns -->
  					{% for n in range(5) %}
  						<td class="d7">
  						</td>
  					{% endfor %}
  					<td class="d7">
  						{% if comb[i] %}
	  						{% set act,avalue = comb[i].split('is') %}
  							{% if not act %}
  								{% set act = '-' %}
  							{% else %}
  								{% set act = act|trim %}
  								{% set act = act[1:] %}
  							{% endif %} 
	  						{% if not avalue %}
  								{% set avalue = '-' %}
  							{% else %}
  								{% set avalue = avalue[:-1] %}
  							{% endif %} 
	  					{% else %}
  							{% set act = '-' %}
  							{% set avalue = '-' %}
  						{% endif %}	
  						{% if vars.update({'digital': 0}) %} {% endif %}
  						{% for key, value in editingdata[1].items() %}
  							{% if (value == act|trim) %}
  								{% if vars.update({'digital': editingdata[2][key]}) %} {% endif %}
  							{% endif %}
  						{% endfor %}
  						<table>
        				<tbody>
          				<tr class="d5">
          					<td class="d7">(
          						<select name="ActuatorId{{i}}" id="CombActuator{{i}}" onchange='CombActuatorChanged({{i}},{{editingdata[1].items()|tojson|safe}},{{editingdata[2].items()|tojson|safe}})'> <!-- 2 TBD -->
									{% for key, value in editingdata[1].items() %}
       									<option value="{{key}}" {% if (value == act|trim ) %} selected="selected" {% endif %}>
       										{{ value }}
       									</option>
									{% endfor %}
								</select> is
          					</td>
          					<td class="d7" style="width: 70px; height: 22px;">
								<input style="width: 50px;" type="number" name="NValue{{i}}" value="{{avalue|trim}}" id="CombVal{{i}}" step="0.01" {% if vars.digital %}hidden{% endif %}>
								<label id="CombValOO{{i}}" {% if not vars.digital %}hidden{% endif %}>
									<input type="checkbox" {% if avalue|trim == "On" %} checked="checked" {% endif %} value="1" name="Value{{i}}" id="OOc{{i}}" onchange="OOChanged('OOc{{i}}')">
									<span>{% if avalue|trim == "On" %}On{% else %}Off{% endif %}</span>
									<input type="hidden" value="0" name="Value{{i}}">
								</label>)
							</td>
          				</tr>
          			</tbody>
         			</table>
  					</td>
  				</tr>
  			{% endfor %}
  		{% endif %}
  	  <tr class="d5">
  	  	<td  class="d5" colspan="100%" style="text-align: left;">
      		<table>
        		<tbody>
          		<tr class="d5">
          			<td class="d6" style="width: 70%;">Store changes?
                </td>
            		<td class="d6" style="width: 15%;"><input name="Button" value="Ok" type="submit">
	            	</td>
  	          	<td class="d6" style="width: 15%;"><input name="Button" value="Cancel" type="submit">
    	      		</td>
      	    	</tr>
        		</tbody>
	      	</table>
	      </td>
  	    </tr>
  	</form>
    <script>
      LoadPicker("{{tableid}}",{{datum|tojson|safe}},"{{format}}");
    </script>
  </body>
</html>