<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Process</title>
    <meta content="helly" name="author">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon16.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body id="h1">
    {% include "header.html" ignore missing %} 
    {% set tab = "process" %}
    {% include "banner.html" ignore missing %} 
    {% include "db_banner.html" ignore missing %}
    {% include "db_table.html" ignore missing %}
  </body>
</html>
