<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="helly" name="author">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
  </head>
  <body>
    <div class="dbtable" style="text-align: center;">
      <table border="1">
        <thead>
          <tr>
            {% for col in cols %}
              <td>{{ col }}</td>
            {% endfor %}
            {% if editable == 1 %}
              <td>Edit<br>
              </td>
              <td>Del<br>
              </td>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for datum in data %}
            {% if (editing==1) and (datum[0]==editingid) %}
              {% include "db_edit.html" ignore missing %}
            {% elif (editing==2) and (datum[0]==editingid) %}
              {% include "db_delete.html" ignore missing %} 
            {% else %}
              <tr class='d1'>
                {% for item in datum %}
                  <td>{{ item }}</td>
                {% endfor %}
                {% if editable == 1 %}
                  <td><a href="{{prefix}}/database_edit/{{ tableid }}/{{ datum[0] }}"><img style="width: 15px; height: 15px;" title="edit"
                    alt="Edit" src={{ url_for('static', filename = "images/edit.png") }}></a>
                  </td>
                  <td><a href="{{prefix}}/database_delete/{{ tableid }}/{{ datum[0] }}"><img style="width: 15px; height: 15px;" title="delete"
                    alt="Del" src={{ url_for('static', filename = "images/delete.png") }}></a>
                  </td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
          {% if editable == 1 %}
            <tr class='d1'>    
                <td colspan="100%" style="text-align: left;"><a href="{{prefix}}/database_add/{{ tableid }}"><img style="width: 15px; height: 15px;" title="add"
                  alt="Add" src={{ url_for('static', filename = "images/add.png") }}></a>
                </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </body>
</html>
