<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="Helly" name="author">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  </head>
  <body>
    <div class="headertable">
      <table style="height: 100px; width: 100%;" border="0">
        <tbody>
          <tr>
            <td>
              <h1 style="text-align: center;"><a href="{{prefix}}/"><b><span id="wh" style="font-family: Helvetica,Arial,sans-serif;">Domotion</span></b></a></h1>
              <div style="text-align: center;"><wh style="font-family: Helvetica,Arial,sans-serif;">Home control and automation</wh></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
