<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="Helly" name="author">
    <style type="text/css">
#wh {
  color: white;
}

#gyb {
  background-color: #404040;
}
      
a {
  text-decoration: none;
  color: white;
}

.headertable table { 
  border-collapse: collapse; 
  border-spacing: 0px; 
}

.headertable tr {
  border: none;
  padding: 0px;
}

.headertable td {
  background-color: #404040;
  color: white;
  padding: 0px;
  border: none;
}

</style></head>
  <body>
    <div class="headertable">
      <table style="height: 100px; width: 100%;" border="0">
        <tbody>
          <tr>
            <td>
              <h1 style="text-align: center;"><a href="/"><b><span id="wh" style="font-family: Helvetica,Arial,sans-serif;">Domotion</span></b></a></h1>
              <div style="text-align: center;"><span id="wh" style="font-family: Helvetica,Arial,sans-serif;">home control and automation</span></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
