<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>index</title>
    <meta content="helly" name="author">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon16.ico') }}">
    <style type="text/css">
#h1 {
  font-size: x-large;
  background-color: #FFFFFF;
}

</style></head>
  <body id="h1"> {% include "header.html" ignore missing %} {% include
    "banner.html" ignore missing %} {% include "db_banner.html" ignore missing
    %}<br>
    <div style="text-align: center;"><span style="font-family: Helvetica,Arial,sans-serif;">Index
        page ....</span></div>
    <br>
    <p style="text-align: center;">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </p>
  </body>
</html>
