<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="helly" name="author">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
  </head>
  <body>
    <div class="dbtable" style="text-align: center;">
      <table border="1">
        <thead>
          <tr>
            {% for col in cols %}
              <td>{{ col }}</td>
            {% endfor %}
            {% if (editing==0) %}
              <td>Edit<br>
            {% endif %}
            </td>
          </tr>
        </thead>
        <tbody>
          {% for datum in data %}
            {% if (editing==1) and (datum[0]==editingid) %}
              {% include "settings_edit.html" ignore missing %}
            {% else %}
              <tr class='d1'>
                {% for item in datum %}
                  <td>{{ item }}</td>
                {% endfor %}
                {% if (editing==0) %}
                  <td><a href="/settings_edit/{{ datum[0] }}"><img style="width: 15px; height: 15px;" title="edit"
                    alt="Edit" src={{ url_for('static', filename = "images/edit.png") }}></a>
                  </td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
