<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/status_holidays.js') }}"></script>
  </head>
  <body onload='OnLoadWindow()' onunload='OnUnloadWindow()'>
    <div class="xtable">
      <table style="width: 100%;" border="0">
        <tbody>
          <tr>
            <td class="d1">
              <span>Time:</span>
              <input type="text" size="25" name="now" id="now" value="00-00-0000 00:00:00" readonly>
            </td>
            <td class="d2">
              <span>Today:</span>
              <input type="text" name="today" id="today" value="-" readonly>
            </td>
            <td class="d3">
              <span>Status:</span>
              <input type="text" name="status" id="status" value="Connecting" readonly>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="dbtable" style="text-align: center;">
      <table border="1">
        <thead>
          <tr>
            {% for col in cols[1:] %}
              <td>{{ col }}</td>
            {% endfor %}
            {% if (editing==0) %}
              <td>Edit</td>
              <td>Del</td>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for datum in data %}
            {% if (editing==1) and (datum[0]==editingid) %}
              {% include "holidays_edit.html" ignore missing %}
            {% elif (editing==2) and (datum[0]==editingid) %}
              {% include "holidays_delete.html" ignore missing %} 
            {% else %}
              <tr class='d1'>
                {% for item in datum[1:] %}
                  <td>{{ item }}</td>
                {% endfor %}
                {% if (editing==0) %}
                  <td><a href="/status/holidays_edit/{{ datum[0] }}"><img style="width: 15px; height: 15px;" title="edit"
                    alt="Edit" src={{ url_for('static', filename = "images/edit.png") }}></a>
                  </td>
                  <td><a href="/status/holidays_delete/{{ datum[0] }}"><img style="width: 15px; height: 15px;" title="delete"
                    alt="Del" src={{ url_for('static', filename = "images/delete.png") }}></a>
                  </td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
          {% if (editing==0) %}
            <tr class='d1'>    
                <td colspan="100%" style="text-align: left;"><a href="/status/holidays_add"><img style="width: 15px; height: 15px;" title="add"
                  alt="Add" src={{ url_for('static', filename = "images/add.png") }}></a>
                </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <br>
    <p style="text-align: center;">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </p>
  </body>
</html>