<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/status_devices.js') }}"></script>
  </head>
  <body onload='OnLoadWindow("{{tableid}}")' onunload='OnUnloadWindow()'>
    <div class="xtable">
      <table style="width: 100%;" border="0">
        <tbody>
          <tr>
            <td class="d1">
              <span>Time:</span>
              <input type="text" name="time" id="time" value="00-00-0000 00:00:00" readonly>
            </td>
            <td class="d3">
              <span>Status:</span>
              <input type="text" name="status" id="status" value="Connecting" readonly>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="dbtable" style="text-align: center;">
      <table border="1">
        <thead>
          <tr>
            {% for col in cols %}
              <td>{{ col }}</td>
            {% endfor %}
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          {% for datum in data %}
            <tr class='d1'>
              {% for item in datum %}
                <td>{{ item }}</td>
              {% endfor %}
              <td>
                {% if tableid == "devices" %}
                  <input style="width: 50px;" type="number" name="NValue{{datum[0]}}" value="0" id="StatVal{{datum[0]}}" step="0.01" {% if digital[datum[0]] %}hidden{% endif %} onchange="SNChanged({{datum[0]}})">
                  <label id="StatValOO{{datum[0]}}"  {% if not digital[datum[0]] %}hidden{% endif %}>
                    <input type="checkbox" value="1" name="Value{{datum[0]}}" id="SOOd{{datum[0]}}" onchange="SOOChanged({{datum[0]}})">
                    <span>Off</span>
                    <input type="hidden" value="0" name="Value{{datum[0]}}">
                  </label>
                {% else %}
                  <input style="width: 50px;" type="number" name="NValue{{datum[0]}}" value="0" id="StatVal{{datum[0]}}" step="0.01" {% if digital[datum[0]] %}hidden{% endif %} disabled onchange="SNChanged({{datum[0]}})">
                  <button type="button" value="0" name="Value{{datum[0]}}" id="SButtond{{datum[0]}}"{% if not digital[datum[0]] %}hidden{% endif %} onclick="SButtonClicked({{datum[0]}})">Off</button>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <p style="text-align: center;">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </p>
  </body>
</html>