<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Utils</title>
    <meta content="helly" name="author">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon16.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body id="h1"> 
    {% include "header.html" ignore missing %} 
    {% if log %}
      {% set tab = "utilslog" %}
    {% else %}
      {% set tab = "utils" %}
    {% endif %}
    {% include "banner.html" ignore missing %} 
    {% if log %}
      {% include "utils_log.html" ignore missing %} 
    {% else %}
      {% include "utils_menu.html" ignore missing %}  
    {% endif %}
  </body>
</html>
