<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banner.css') }}">
  </head>
  <body>
    <div class="bannertable">
      <table style="width: 100%; height: 27px;">
        <tbody>
          <tr style="border-color: white; border-radius: 0px; border-width: 0px; border-style: solid;">
            {% if tableid == "sensors" %}
              <td style="background-color: #1A1A1A; width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family:   Helvetica,Arial,sans-serif;">sensors</span></a></td>
            {% else %}
              {% if editing == 0 %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a href="{{prefix}}/database/sensors"><span style="font-family:   Helvetica,Arial,sans-serif;">sensors</span></a></td>
              {% else %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family: Helvetica,Arial,sans-serif;">sensors</span></a></td>
              {% endif %}
            {% endif %}
            {% if tableid == "actuators" %}
              <td style="background-color: #1A1A1A; width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family:   Helvetica,Arial,sans-serif;">actuators</span></a></td>
            {% else %}
              {% if editing == 0 %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a href="{{prefix}}/database/actuators"><span style="font-family  : Helvetica,Arial,sans-serif;">actuators</span></a></td>
              {% else %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family: Helvetica,Arial,sans-serif;">actuators</span></a></td>
              {% endif %}
            {% endif %}
            {% if tableid == "timers" %}
              <td style="background-color: #1A1A1A; width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family:   Helvetica,Arial,sans-serif;">timers</span></a></td>
            {% else %}
              {% if editing == 0 %}
                <td style="text-align: center; vertical-align: middle; width: 12.5%;"><a href="{{prefix}}/database/timers"><span style="font-family:   Helvetica,Arial,sans-serif;">timers</span></a></td>
              {% else %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family: Helvetica,Arial,sans-serif;">timers</span></a></td>
              {% endif %}
            {% endif %}
            {% if tableid == "processors" %}
              <td style="background-color: #1A1A1A; width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family:   Helvetica,Arial,sans-serif;">processors</span></a></td>
            {% else %}
              {% if editing == 0 %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a href="{{prefix}}/database/processors"><span style="font-family: Helvetica,Arial,sans-serif;">processors</span></a></td>
              {% else %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family: Helvetica,Arial,sans-serif;">processors</span></a></td>
              {% endif %}
            {% endif %}
            {% if tableid == "scripts" %}
              <td style="background-color: #1A1A1A; width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family:   Helvetica,Arial,sans-serif;">scripts</span></a></td>
            {% else %}
              {% if editing == 0 %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a href="{{prefix}}/database/scripts"><span style="font-family: Helvetica,Arial,sans-serif;">scripts</span></a></td>
              {% else %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family: Helvetica,Arial,sans-serif;">scripts</span></a></td>
              {% endif %}
            {% endif %}
            {% if tableid == "dependencies" %}
              <td style="background-color: #1A1A1A; width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family:   Helvetica,Arial,sans-serif;">dependencies</span></a></td>
            {% else %}
              {% if editing == 0 %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a href="{{prefix}}/database/dependencies"><span style="font-family: Helvetica,Arial,sans-serif;">dependencies</span></a></td>
              {% else %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family: Helvetica,Arial,sans-serif;">dependencies</span></a></td>
              {% endif %}
            {% endif %}
            {% if tableid == "combiners" %}
              <td style="background-color: #1A1A1A; width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family:   Helvetica,Arial,sans-serif;">combiners</span></a></td>
            {% else %}
              {% if editing == 0 %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a href="{{prefix}}/database/combiners"><span style="font-family  : Helvetica,Arial,sans-serif;">combiners</span></a></td>
              {% else %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family: Helvetica,Arial,sans-serif;">combiners</span></a></td>
              {% endif %}
            {% endif %}
            {% if tableid == "types" %}
              <td style="background-color: #1A1A1A; width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family:   Helvetica,Arial,sans-serif;">types</span></a></td>
            {% else %}
              {% if editing == 0 %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a href="{{prefix}}/database/types"><span style="font-family:   Helvetica,Arial,sans-serif;">types</span></a></td>
              {% else %}
                <td style="width: 12.5%; text-align: center; vertical-align: middle;"><a><span style="font-family: Helvetica,Arial,sans-serif;">types</span></a></td>
              {% endif %}
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
