<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Settings</title>
    <meta content="helly" name="author">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon16.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <body id="h1"> 
    {% include "header.html" ignore missing %} 
    {% set tab = "settings" %}
    {% include "banner.html" ignore missing %} 
    {% include "settings_table.html" ignore missing %}
  </body>
</html>
