<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Status</title>
    <meta content="helly" name="author">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon16.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body id="h1"> 
    {% include "header.html" ignore missing %} 
    {% set tab = "status" %}
    {% include "banner.html" ignore missing %} 
    {% include "status_banner.html" ignore missing %} 
    {% if tableid == "timers" %}
      {% include "status_timers.html" ignore missing %}
    {% elif tableid == "holidays" %}
      {% include "status_holidays.html" ignore missing %}
    {% else %}
      {% include "status_devices.html" ignore missing %}
    {% endif %}
  </body>
</html>
