# Domotion Apps Starter - Service for Domotion Apps Starter

[Unit]
Description=Domotion (Home control and automation) Apps Starter
Wants=Domotion.service
After=Domotion.service
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/Domotion/DomoAppsStarter
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
